@import '../../styles/variables';

.card {
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	background-color: $azul-escuro;
	padding: 0 1rem;
	border-radius: 10px;
	box-shadow: 0px 0px 12px black;
	animation-name: card-treinador;
	animation-duration: 1s;
	background: linear-gradient(to bottom, $azul-claro 50%, $azul-escuro 50%);
  background-size: 100% 200%;
  background-position: bottom left;
	transition: .5s;

	&:hover {
		transform: translateY(-5%);
	}
	&__foto {
		height: 50%;
		width: 100%;
		overflow: hidden;
		text-align: center;
		border-radius: 0 0 50% 50%;

		.foto {
			width: 90%;
			object-fit: cover;
			object-position: 1rem 1rem;
		}
	}

	&__info {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__nome {
		color: $amarelo-claro;
		margin-top: 2rem;
		text-align: center;
		font-size: 1.875rem;
		flex: 1
	}

	&__escolha {
		width: 100%;
		border: none;
		border-radius: .25rem;
		padding: .5rem 2rem;
		font-size: .875rem;
		font-weight: 900;
		cursor: pointer;
		background-color: $amarelo-claro;
		color: $azul-escuro;
		margin-bottom: 2rem;

		&:hover {
			background-color: $amarelo-escuro;
		}
	}
}

.ativo {
	background-position: top left;
}

@keyframes card-treinador {
	0% {
		height: 0;
	}
	100%{
		height: 450px;
	}
}