@import '../../styles/variables';

.card {
	display: flex;
	flex-direction: column;
	background-color: $azul-escuro;
	width: 70%;
	height: 70%;
	padding: 0 1rem;
	align-items: center;
	border-radius: 10px;

	&__foto {
		width: 100%;
		height: 60%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 1rem 1rem;
			border-radius: 0px 0px 50% 50%;
		}
	}

	&__nome {
		color: $amarelo-claro;
		margin-top: 2rem;
		text-align: center;
		font-size: 1.875rem;
		flex: 1;
	}

	&__escolha {
		width: 100%;
		border: none;
		border-radius: .25rem;
		padding: .5rem 2rem;
		font-size: .875rem;
		font-weight: 900;
		cursor: pointer;
		background-color: $amarelo-claro;
		color: $azul-escuro;
		margin-bottom: 2rem;

		&:hover {
			background-color: $amarelo-escuro;
		}
	}
}

.ativo {
	background-color: $azul-claro;
	border: 4px solid $amarelo-escuro
}