@import '../../styles/variables';

.card {
	display: flex;
	flex-direction: column;
	border: 1px solid $azul-claro;
	width: 100%;
	height: 100%;
	padding: 0 1rem;
	border-radius: 10px;
	box-shadow: 0px 0px 8px black;

	&__img {
		width: 100%;
		height: 50%;
		text-align: center;
		padding: 1rem 0;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		height: 50%;

		.nome {
			font-size: 1.5rem;
			font-weight: 900;
			text-align: center;

			&::first-letter {
				text-transform: uppercase;
			}
		}

		.tipos {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: .5rem;

		}
	}

	&__ativo {
		background-color: $azul-claro;
	}
}
