@import '../../styles/variables';

.tipo {
	color: white;
	padding: .475rem 1rem;
	border-radius: 25px;
	font-weight: bold;
	list-style: none;
	text-align: center;

	&::first-letter {
		text-transform: uppercase;
	}
}