@import '../../../styles/variables';

.principal {
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	text-align: center;

	h2 {
		margin: 2rem 0;
	}

}
.pokemons {
	display: grid;
	width: 100%;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
	grid-auto-rows: minmax(350px, 500px);
	gap: 2rem;
}
