@import '../../../styles/variables';

.item {
	font-size: 1.475rem;
		font-weight: bold;
		display: inline-block;
		cursor: pointer;

		@media (max-width: 400px) {
			font-size: 1.125rem;
		}

		&__ativo {
			&::after {
				margin-top: .5rem;
				content: '';
				width: 100%;
				height: 3px;
				display: block;
				background-color: $azul-claro;
			}
		}
	}